
*{
  font-family: "Poppins", sans-serif;
}
p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #49499a;
}
.uptext {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #EE483D;
  margin-bottom: 30px;
  letter-spacing: -1.2px;
}


#intro {
  width: 100%;
  position: relative;
 
  background-size: cover;
  padding: 126px 0 34px 0;
}

.homeimg {
  margin-left: -50px;
}

samp.hometext{
  font-size: 55px;
  font-weight: bold;
  color: #ee483d;
  letter-spacing: -1.2px;
}

a.typewrite {
    font-size: 55px;
    font-weight: bold;
    color: #49499a!important;
    letter-spacing: -1.2px;
}

.hometect1{
  font-size: 55px;
  font-weight: bold;
  color: #ee483d;

}

p.hometext2 {
  font-size: 18px;
  color: #49499a;
  font-weight: 400;
  line-height: 1.6em;
  
}


@media (min-width: 992px){
.offset-lg-1 {
    margin-left: 0px!important;
}
}

@media (max-width: 767px){

  .uptext {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #EE483D;
    margin-bottom: 2px;
    letter-spacing: -1.2px;
    margin-top: 30px;
  }

  #intro {
    width: 100%;
    position: relative;
   
    background-size: cover;
    padding: 126px 0 14px 0;
  }
  
  .homeimg {
    margin-left: 0px;
    width: 100%;
    padding: 26px;
  }
  
  samp.hometext{
    font-size: 26px;
    font-weight: bold;
    color: #ee483d;
    letter-spacing: -1.2px;
  }
  
  a.typewrite {
      font-size: 26px;
      font-weight: bold;
      color: #49499a!important;
      letter-spacing: -1.2px;
  }
  
  .hometect1{
    font-size: 26px;
    font-weight: bold;
    color: #ee483d;
  
  }
  
  p.hometext2 {
    font-size: 16px;
    color: #49499a;
    font-weight: 400;
    line-height: 1.6em;
    
  }

}


/*--------------------------------------------------------------
#                           Btn Css Start 
--------------------------------------------------------------*/



.btn-primarya {
  width: 128px;
    height: 40px;
    border-radius: 3px;
    background-color: #EE483D;
    color: white;
    border-style: none;
    font-size: 15px;
    transition: 0.5s;
}
.btn-primarya:hover {
  background-color: #49499A;
  color: white;
  -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}



.btn-primaryb {
  width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #49499A;
    color: white;
    border-style: none;
    font-size: 15px;
    transition: 0.5s;
}
.btn-primaryb:hover {
  background-color: #EE483D;
  color: white;
  -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}


.btn-primaryc {
  width: 153px;
    height: 40px;
    border-radius: 3px;
    background-color: #EE483D;
    color: white;
    border-style: none;
    font-size: 15px;
    transition: 0.5s;
}
.btn-primaryc:hover {
  background-color: #49499A;
  color: white;
  -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}

a.btnz {
  padding: 20px;
}




@media (max-width: 767px){


  .btn-primarya {
    width: 110px;
    
  }
 .btn-primaryb {
    width: 95px;
     
  }
  .btn-primaryc {
    display: none;
  }
  a.btnz {
    padding: 23px;
  }




}

/*--------------------------------------------------------------
#                           Btn Css  end
--------------------------------------------------------------*/


/*--------------------------------------------------------------
#                   Our Services Setion Start 
--------------------------------------------------------------*/


.section-header h3 {
  font-size: 45px;
  color: #ee483d;
  text-align: center;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.02em;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 16px;
  padding-bottom: 53px;
  color: #49499a;
  width: 50%;
}

section#about {
  padding: 0;
}

.col-sm-t {
  width: 228px;
  text-align: center;
  transition: 0.5s;
}
.col-sm-tt {
  width: 228px;
  text-align: center;
  transition: 0.5s;
}
.col-sm-t:hover {
  background-color: #e6d8d77a;
  padding: 5px;
  -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}

h5.servicescard {
  font-size: 24px;
  color: #ef473d;
  letter-spacing: -0.02em;
  font-weight: 500;
}

@media (max-width: 767px){
.section-header p {
   width: 100%;
}
.section-header h3 {
  font-size: 25px;
 }
 h5.servicescard {
  font-size: 17px;

}
.col-sm-t {
  width: 178px;
 }
 .col-sm-tt {
  width: 391px!important;
 }
.servicesimg{
  width: 55px;
}

}


/*--------------------------------------------------------------
#                   Our Services Setion  End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
                      # Section Social meda Start 
--------------------------------------------------------------*/
#abouts{
  padding-top: 70px;
}
.section-drop{
  font-size: 45px;
    color: #ee483d;
    text-align: left;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.02em;
}



.btn-primarycc {
  width: 153px;
    height: 40px;
    border-radius: 3px;
    background-color: #EE483D;
    color: white;
    border-style: none;
    font-size: 15px;
    transition: 0.5s;
}
.btn-primarycc:hover {
  background-color: #49499A;
  color: white;
  -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}

@media (max-width: 767px){
  #abouts{
    padding-top: 70px;
  }
  .section-drop{
  font-size: 25px;
    color: #ee483d;
    text-align: left;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.02em;
}
}




/*--------------------------------------------------------------
                      # Section Social meda End
--------------------------------------------------------------*/